<footer class="bg-blue-900 text-white py-6 mt-8">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; 2024 Wanderscout. All Rights Reserved.</p>
        <div class="mt-6">
            <p class="text-lg font-semibold">Contributors:</p>
            <div class="mt-2">
                <a href="https://github.com/davinawuy" target="_blank" class="mx-2 text-gray-300 hover:text-white transition-colors">
                    Alano Davin M. A.
                </a>
                <a href="https://github.com/samuellapnadia" target="_blank" class="mx-2 text-gray-300 hover:text-white transition-colors">
                    Samuella Putri N. P.
                </a>
                <a href="https://github.com/agtyra" target="_blank" class="mx-2 text-gray-300 hover:text-white transition-colors">
                    Kezia Salsalina A. S.
                </a>
                <a href="https://github.com/Hafizh-Zen" target="_blank" class="mx-2 text-gray-300 hover:text-white transition-colors">
                    Hafizh Surya M. Z.
                </a>
                <a href="https://github.com/CowboyHeIs" target="_blank" class="mx-2 text-gray-300 hover:text-white transition-colors">
                    Heinrich Edric D. S.
                </a>
            </div>
        </div>
    </div>
</footer>
