{% load static %}

<nav class="bg-blue-900 shadow-lg fixed top-0 left-0 z-40 w-screen">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center relative">
        <img src="{% static 'images/wayang.png' %}" alt="Wayang" class="w-24 h-24 mr-4">
        <!-- Link ke homepage -->
        <a href="{% url 'home_page' %}">
          <h1 class="text-2xl font-medium text-center text-white">WANDERSCOUT</h1>
        </a>
      </div>

      <!-- Desktop Links -->
      <div class="hidden md:flex items-center">
        <a href="{% url 'display_customer_reviews' %}" class="text-white font-bold hover:text-gray-300 mr-4">
          Customer Reviews
        </a>
        <a href="{% url 'tourist_attractions' %}" class="text-white font-bold hover:text-gray-300 mr-4">
          Tourist Attractions
        </a>
        <a href="{% url 'restaurants' %}" class="text-white font-bold hover:text-gray-300 mr-4">
          Restaurants
        </a>
        {% if user.is_authenticated %}
          <div class="text-right mr-4">
            <span class="block text-gray-300">Welcome back, {{ user.username }}</span>
            <div class="block text-sm text-gray-300">Last Login: {{ last_login }}</div>
          </div>
          <form action="{% url 'authentication:logout_user' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="text-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300">
              Logout
            </button>
          </form>
        {% else %}
          <a href="{% url 'main:login' %}" class="text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mr-2">
            Login
          </a>
          <a href="{% url 'main:register' %}" class="text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Register
          </a>
        {% endif %}
      </div>

      <!-- Mobile Menu Button -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu hidden md:hidden px-4 w-full md:max-w-full">
    <div class="pt-2 pb-3 space-y-1 mx-auto">
      <a href="{% url 'display_customer_reviews' %}" class="text-white font-bold hover:text-gray-300 mr-4">
        Customer Reviews
      </a>
      <a href="{% url 'tourist_attractions' %}" class="block text-center text-white font-bold hover:text-gray-300 mb-2">
        Tourist Attractions
      </a>
      <a href="{% url 'restaurants' %}" class="block text-center text-white font-bold hover:text-gray-300 mb-2">
        Restaurants
      </a>
      {% if user.is_authenticated %}
        <span class="block text-gray-300 px-3 py-2">Welcome, {{ user.username }}</span>
        <div class="block text-sm text-gray-300 px-3 py-2">Last Login: {{ last_login }}</div>
        <form action="{% url 'authentication:logout_user' %}" method="post" class="text-center">
          {% csrf_token %}
          <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300 mt-2">
            Logout
          </button>
        </form>
      {% else %}
        <a href="{% url 'main:login' %}" class="block text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2">
          Login
        </a>
        <a href="{% url 'main:register' %}" class="block text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Register
        </a>
      {% endif %}
    </div>
  </div>
</nav>
