
{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login">
  <h1>Login</h1>

  <!-- Form now submits to the URL for handling the POST request in the 'authentication' app -->
  <form method="POST" action="{% url 'authentication:submit_login_form' %}">
    {% csrf_token %}
    <table>
      <tr><th>Log in as Admin/User</th></tr>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td>
            <input class="btn login_btn" type="submit" value="Login" />
            <!-- Register Button -->
            <a href="{% url 'authentication:display_register_form' %}" class="btn register_btn">Register</a>
        </td>
      </tr>
    </table>
  </form>

  <!-- Additional prompt for users without an account -->
  <div class="register-prompt">
      <p>Don't have an account yet? <a href="{% url 'authentication:display_register_form' %}">REGISTER HERE</a></p>
  </div>

  <!-- Display any messages (such as login success/failure) -->
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</div>
{% endblock content %}
